.error {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.text {
  padding: 30px 140px;

  background: #0d1114a3;
  color: #c6ccd8;
  font-size: large;

  border: 1px solid #85a1c1;
  box-shadow: 0 0 10px #c6ccd8;
}