.container {
  padding-bottom: 10px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;

  color: azure;
}