body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  outline: none;
  user-select: none;

  background: transparent;

  border: 0;
}

img {
  user-select: none;
}

input {
  background: transparent;

  border: 0;
}

textarea {
  background: transparent;

  border: 0;

  resize: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

#root {
  min-height: 100vh;

  background-image: url(/image/main.jpg);
  background-size: cover;
}